* {
	font-family:  Verdana;
}

h1 {
	font-size: 2em;
}

h2 {
	font-size: 1.5em;
}
body {
	margin-left: 10%;
	margin-right: 10%;
	background-image:  url('./images/circuitground.png');
	color: white;
}
nav{
	background: #056fc1c7;
	height: 80px;
	width: 100%;
	list-style: none !important;
	text-decoration: none;
	box-sizing: border-box;
}
label.logo{
	color: white;
	font-size: 35px;
	line-height: 80px;
	padding: 0 100px;
	font-weight: bold;
}
nav ul{
	float: right;
	margin-right: 20px;
}
nav ul li{
	list-style: none;
	display: inline-block;
	line-height: 80px;
	margin: 0 5px;
}
nav ul li a{
	color: white;
	font-size: 17px;
	padding: 7px 13px;
	border-radius: 3px;
	text-transform: uppercase;
	text-decoration: none;
}
a:active, a:hover{
	background: #1b9bff;
	transition: 0.5s;
}
div {
	text-align: center;
	border: 0.5em;
	border-style: groove;
	background:  rgba(0,0,0,0.75);
}
a {
	color: blue;
	font-family: Verdana;
}
a:hover {
	color: yellow;
	transition: 0.25s;
}
a:active {
	color: blue;
	transition: 0.25s;
}