* {
	font-family:  Verdana;
}

h1 {
	font-size: 2em;
}

h2 {
	font-size: 1.5em;
}
body {
	text-align: center;
	margin-left: 10%;
	margin-right: 10%;
	background-image:  url('./images/circuitground.png');
	color: white;
}
div {
	border: 0.5em;
	border-style: groove;
	background:  rgba(0,0,0,0.75);
}
a {
	color: blue;
	font-family: Verdana;
}
a:hover {
	color: yellow;
	transition: 0.25s;
}
a:active {
	color: blue;
	transition: 0.25s;
}