* {
	font-family:  Verdana;
}

h1 {
	font-size: 3em;
}

h2 {
	font-size: 2em;
}
body {
	text-align: center;
	margin-left: 25%;
	margin-right: 25%;
	background-image:  url('https:ipcuci.github.io/images/circuitground.png');
	color: white;
}
a {
	color: blue;
	font-family: Verdana;
}
a:hover {
	color: yellow;
	transition: 0.25s;
}
a:active {
	color: blue;
	transition: 0.25s;
}